<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Railway Info</title>

  <link rel="shortcut icon" href="/static/favicon.webp" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/dialog.css">
  <link rel="stylesheet" href="/static/vendor/adlsv3/adlsv3.min.css">

  <link rel="stylesheet" href="/static/vendor/material/symbols.css">
  
  <meta property="og:title" content="Railway Info">
  <meta property="og:description" content="Your favorite website to manage all your lines in one place! Information about Community Railway lines and services">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/static/favicon.png">
  <meta name="theme-color" content="#FF0000">

  <script src="/static/js/color.js"></script>
  <script defer src="/static/js/lines.js"></script>  
  <script defer src="/static/vendor/adlsv3/adlsv3.min.js"></script>

  {% block stylesheet %}{% endblock stylesheet %}
  
</head>

<body class="smd-layout_body body-gradient">
  {% include "base/nav.html" %}
  {% block content %}{% endblock content %}
</body>

</html>