<header class="smd-layout_header">
  <div class="smd-layout_header-branding">
    <a href="/">
      <img src="/static/favicon.png" alt="Logo">
    </a>
    <a href="/">Railway Info</a>
  </div>

  <nav class="smd-layout_navbar">
    <a href="/operators"><span class="material-symbols-outlined">enterprise</span> Operators</a>
    <a href="/computercraft-setup"><span class="material-symbols-outlined">monitor</span> Station display</a>
    <a href="/stations"><span class="material-symbols-outlined">train</span> Train stations</a>
    <a href="https://github.com/OneLinkPog/community-railway-info"><span class="material-symbols-outlined">code</span> GitHub</a>
    <a href="/library"><span class="material-symbols-outlined">script</span> Library</a>
  </nav>

  <div class="smd-layout_navbar-right">
    {% if not session.get('user') %}
    <a href="{{ url_for('auth.login') }}">Login</a>
    {% else %}

    <div class="smd-component_dropdown">
      <button class="smd-component_dropdown-dropbtn" onclick="toggleDropdown(this)">
        <span class="smd-layout_navbar-profile-name">{{ session.user.global_name }}</span>
        <div class="smd-layout_navbar-profile-picture">
          <img src="https://cdn.discordapp.com/avatars/{{ session.user.id }}/{{ session.user.avatar }}.png"
            alt="Profile Picture">
        </div>
      </button>

      <div class="smd-component_dropdown-content">
        <div class="smd-component_dropdown-header">
          <a href="/"><img src="/static/favicon.png" class="smd-component_dropdown-logo"
              style="width: 17%; padding-bottom: 10px"></a>

          <div class="smd-component_dropdown-profile">
            <div class="smd-component_dropdown-profile-name">@{{ session.user.username }}</div>
            <div class="smd-component_dropdown-profile-picture">
              <img src="https://cdn.discordapp.com/avatars/{{ session.user.id }}/{{ session.user.avatar }}.png"
                alt="Profile Picture">
            </div>
          </div>
          <hr>
        </div>

        <div class="smd-component_dropdown-content-main">
          {% if operator %}
          {% for op in operator %}
          <a href="/operators/{{ op.uid }}">
            <span data-line="{{ op.uid }}" id="op-{{ op.uid }}"
              class="material-symbols-outlined material-symbols-outlined--ul">train</span>
            <span class="smd-component_dropdown-content-main-text">{{ op.name }}</span>
          </a>
          <script>
            document.getElementById('op-{{ op.uid }}').style.color = '{{ op.color }}';
          </script>
          {% endfor %}
          <hr>
          {% endif %}

          <a href="/me">
            <span class="material-symbols-outlined material-symbols-outlined--ul"
              style="color: rgb(67, 180, 255)">person</span>
            <span class="smd-component_dropdown-content-main-text">My profile & library</span>
          </a>
          {% if admin %}
          <a href="/admin">
            <span class="material-symbols-outlined material-symbols-outlined--ul"
              style="color: rgb(255, 67, 67)">admin_panel_settings</span>
            <span class="smd-component_dropdown-content-main-text">Admin Management Console</span>
          </a>
          {% endif %}

          <a href="{{ url_for('auth.logout') }}">
            <span class="material-symbols-outlined material-symbols-outlined--ul"
              style="color: rgb(146, 146, 146)">logout</span>
            <span class="smd-component_dropdown-content-main-text">Logout</span>
          </a>
          <div class="smd-component_dropdown-spacer"></div>
        </div>
      </div>
      {% endif %}
    </div>

    <script>
      function toggleDropdown(btn) {
        var dropdowns = document.getElementsByClassName('smd-component_dropdown-content');
        for (var i = 0; i < dropdowns.length; i++) {
          dropdowns[i].classList.remove('show');
        }
        const dropdown = btn.parentElement.querySelector('.smd-component_dropdown-content');
        if (dropdown) {
          dropdown.classList.toggle('show');
        }
      }

      document.addEventListener('click', function (event) {
        var isDropdownBtn = event.target.closest('.smd-component_dropdown-dropbtn');
        var isDropdownContent = event.target.closest('.smd-component_dropdown-content');
        if (!isDropdownBtn && !isDropdownContent) {
          var dropdowns = document.getElementsByClassName('smd-component_dropdown-content');
          for (var i = 0; i < dropdowns.length; i++) {
            dropdowns[i].classList.remove('show');
          }
        }
      });
    </script>
  </div>
  <hr>
</header>

<script src="/static/js/nav.js"></script>