{% extends "base/base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/xml/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/css/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/htmlmixed/htmlmixed.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/monokai.min.css">
{% endblock stylesheet %}

{% block content %}
<div class="content">
    <div class="dashboard-content">
        {% if operator_overview == none %}
        <h1>Operator not found</h1>
        <p>The operator you are looking for does not exist or has been deleted.</p>
        <a href="/operators" class="btn-secondary smd-component_button-medium poppins">
            <span style="position: absolute" class="material-symbols-outlined">arrow_back</span>
            <span style="margin-left: 30px;">Back to Operators</span>
        </a>
        {% else %}
        <div class="dashboard-header">
            <h1>{{ operator_overview.name }}</h1>

            {% if admin %}
            <span class="operator-badge admin">Admin</span>
            {% endif %}

            {% if member %}
            <span class="operator-badge member">Member</span>
            {% endif %}

            <div class="operator-members">
                {% if operator_overview.user_datas %}
                <div class="member-avatars">
                    {% for user_data in operator_overview.user_datas %}
                    <div class="member-avatar" data-tooltip="{{ user_data.display_name }} (@{{ user_data.username }})">
                        <img src="{{ user_data.avatar_url }}" alt="Member Avatar">
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        {% if admin or member %}
        <div class="dashboard-controls">
            <button onclick="showAddLineModal()" class="smd-component_button-medium btn-primary poppins">
                <span style="position: absolute" class="material-symbols-outlined">add</span>
                <span style="margin-left: 30px;">Add Line</span>
            </button>

            <button onclick="editOperator('{{ operator_overview.name }}')"
                class="smd-component_button-medium btn-primary poppins">
                <span style="position: absolute" class="material-symbols-outlined">edit</span>
                <span style="margin-left: 30px;">Edit operator</span>
            </button>
        </div>
        {% endif %}

        <div class="lines-grid">
            {% for line in operator_lines %}
            <div class="line-card">
                <script>
                    document.currentScript.parentElement.style.border = "2px solid {{ line.color }}";
                </script>
                <div class="line-header">
                    <h2>{{ line.name }}</h2>
                    <div class="line-status-badge {{ line.status|lower|replace(' ', '-') }}">
                        {{ line.status }}
                    </div>
                </div>
                <div class="line-details">
                    <div class="line-stations">
                        <h3>Stations:</h3>
                        <ul>
                            {% for station in line.stations %}
                            <li>{{ station | safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="line-notice">
                        <h3>Notice:</h3>
                        {% if line.notice %}
                        <div>{{ line.notice | safe }}</div>
                        {% else %}
                        <div>No notice available</div>
                        {% endif %}
                    </div>
                    <div class="line-composition">
                        <h3>Train composition:</h3>
                        {% if line.composition %}
                        <div class="composition-display">
                            {% for part in line.composition.split(',') %}
                            <div class="composition-part-display" style="background-image: url('/static/assets/icons/{{ part }}.png')" title="{{ part|upper }}"></div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div>No composition set</div>
                        {% endif %}
                    </div>
                </div>
                {% if admin or member %}
                <div class="line-actions">
                    <button onclick="editLine('{{ line.name }}')" class="btn-secondary smd-component_button-medium">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                    <button onclick="deleteLine('{{ line.name }}')" class="btn-danger smd-component_button-medium">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% if admin or member %}
    <div id="lineModal" class="modal">
        <div class="modal-content">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -25px;">
                <h1 id="modalTitle">Add New Line</h1>
                <span class="close" id="close">&times;</span>
            </div>
            <form id="lineForm" onsubmit="handleLineSubmit(event)">
                <div class="form-group">
                    <label for="lineName">Line Name</label>
                    <input type="text" id="lineName" name="name" required class="form-make-this-shit-white">
                </div>

                <div class="form-group">
                    <label for="lineColor">Line Color</label>
                    <input type="color" id="lineColor" name="color" required style="width: 50px; height: 50px;">
                </div>

                <div class="form-group">
                    <div style="display: flex; align-items: center; gap: 5px;">
                        <label for="composition-builder">Train compositions</label>
                        <span class="tooltip">
                            <span class="material-symbols-outlined">help</span>
                            <span class="tooltiptext">
                                <strong>Train Composition Key, for debugging:</strong><br>
                                E = Empty carriage<br>
                                L = Locomotive<br>
                                FH/FH1/FH2 = Front High<br>
                                FL1/FL2 = Front Low<br>
                                1/1W = 1st class (with/without WC)<br>
                                2/2W = 2nd class (with/without WC)<br>
                                1-2/1-2W = Combined 1st & 2nd class (with/without WC)<br>
                                W = WC<br>
                                B/BH1/BH2/BL1/BL2 = Back High/Back High 1/Back High 2/Back Low 1/Back Low 2<br>
                                J = Eat
                            </span>
                        </span>
                    </div>
                    <div id="composition-builder">
                        <div id="composition-parts">
                            <div class="composition-part" draggable="true" data-part="e"></div>
                            <div class="composition-part" draggable="true" data-part="l"></div>

                            <div class="composition-part" draggable="true" data-part="fh"></div>
                            <div class="composition-part" draggable="true" data-part="fh1"></div>
                            <div class="composition-part" draggable="true" data-part="fh2"></div>

                            <div class="composition-part" draggable="true" data-part="bh"></div>
                            <div class="composition-part" draggable="true" data-part="bh1"></div>
                            <div class="composition-part" draggable="true" data-part="bh2"></div>

                            <div class="composition-part" draggable="true" data-part="fl"></div>
                            <div class="composition-part" draggable="true" data-part="fl1"></div>
                            <div class="composition-part" draggable="true" data-part="fl2"></div>

                            <div class="composition-part" draggable="true" data-part="bl"></div>
                            <div class="composition-part" draggable="true" data-part="bl1"></div>
                            <div class="composition-part" draggable="true" data-part="bl2"></div>

                            
                            <div class="composition-part" draggable="true" data-part="1"></div>
                            <div class="composition-part" draggable="true" data-part="2"></div>

                            <div class="composition-part" draggable="true" data-part="1w"></div>
                            <div class="composition-part" draggable="true" data-part="2w"></div>
                            
                            <div class="composition-part" draggable="true" data-part="1-2"></div>
                            <div class="composition-part" draggable="true" data-part="1-2w"></div>
                            <div class="composition-part" draggable="true" data-part="w"></div>
                            
                            
                            <div class="composition-part" draggable="true" data-part="j"></div>
                        </div>
                        <div id="composition-dropzone" class="form-make-this-shit-white"></div>
                    </div>
                    <input type="hidden" id="lineComposition" name="composition">
                </div>

                <div class="form-group">
                    <label for="lineStatus">Status</label>
                    <select id="lineStatus" name="status" required class="form-make-this-shit-white">
                        <option value="Running">Running</option>
                        <option value="Possible delays">Possible delays</option>
                        <option value="Suspended">Suspended</option>
                        <option value="Partially suspended">Partially suspended</option>
                        <option value="No scheduled service">No scheduled service</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="lineType">Type</label>
                    <select id="lineType" name="type" required class="form-make-this-shit-white">
                        <option value="public">🌍 Public</option>
                        <option value="private">🔒 Private</option>
                        <option value="metro">🚇 Metro</option>
                        <option value="tram">🚋 Tram</option>
                        <option value="bus">🚌 Bus</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="lineNotice">Notice (Supports HTML)</label>
                    <div id="lineNoticeEditor" style="height: 150px; border: 1px solid #ccc;"></div>
                    <textarea id="lineNotice" name="notice" style="display:none;"></textarea>
                </div>

                <div class="form-group">
                    <label for="lineStations">Stations (one per line)</label>
                    <textarea id="lineStations" name="stations" required rows="10" class="form-make-this-shit-white"></textarea>
                </div>

                <input type="hidden" id="lineId" name="id">
                <button type="submit" class="btn-primary smd-component_button-medium poppins">Save Line</button>
            </form>
        </div>
    </div>

    <div id="operatorModal" class="modal">
        <div class="modal-content">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -25px;">
                <h1>Edit Operator</h1>
                <span class="close" id="closeOperator">&times;</span>
            </div>
            <form id="operatorForm">
                <div class="form-group">
                    <label for="operatorName">Operator Name</label>
                    <input type="text" id="operatorName" name="name" required class="form-make-this-shit-white">
                </div>

                <div class="form-group">
                    <label for="operatorShort">Short Name</label>
                    <input type="text" id="operatorShort" name="short" required class="form-make-this-shit-white">
                </div>

                <div class="form-group">
                    <label for="operatorColor">Operator Color</label>
                    <input type="color" id="operatorColor" name="color" required style="width: 50px; height: 50px;">
                </div>

                <div class="form-group">
                    <label for="operatorUsers">Users (one per Line)</label>
                    <textarea id="operatorUsers" name="users" rows="4"
                        placeholder="Enter usernames, one per line" class="form-make-this-shit-white"></textarea>
                </div>

                <div class="form-group">
                    <label for="operatorAvatar">Operator UID</label>
                    <input type="text" id="operatorUid" name="avatar" required readonly class="form-make-this-shit-white">
                </div>
                <button type="submit" class="btn-primary smd-component_button-medium poppins">Save Changes</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>

<script>
    window.operatorName = "{{ operator_overview.name }}";
    window.operatorUid = "{{ operator_overview.uid }}";
    window.lines = {{ operator_lines | tojson | safe }};
</script>

<script src="/static/js/dashboard.js"></script>

<script>
    window.noticeEditor = CodeMirror(document.getElementById('lineNoticeEditor'), {
    value: document.getElementById('lineNotice').value,
    mode: 'htmlmixed',
    lineNumbers: true,
    lineWrapping: true,
    theme: 'monokai',
    });

    window.noticeEditor.setSize("100%", "150px");
    
    // Apply icons to composition parts
    document.querySelectorAll('.composition-part').forEach(part => {
        const partName = part.getAttribute('data-part');
        part.style.backgroundImage = `url('/static/assets/icons/${partName}.png')`;
    });
</script>

{% endblock content %}