{% extends "base/base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/request.css">
{% endblock stylesheet %}

{% block content %}
<div class="content">
    <div class="request-container">
        <h1>Request a new rail company</h1>
        <form id="requestForm" class="request-form">
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input type="text" id="companyName" name="companyName" required>
            </div>
            
            <div class="form-group">
                <label for="shortCode">Short Code (max. 4 characters)</label>
                <input type="text" id="shortCode" name="shortCode" maxlength="4" required>
            </div>
            
            <div class="form-group">
                <label for="color">Company Color</label>
                <input type="color" id="color" name="color" required>
            </div>

            <div class="form-group">
                <label for="additionalUsers">Additional User IDs (comma separated)</label>
                <input type="text" id="additionalUsers" name="additionalUsers" placeholder="e.g. 123456789,987654321">
            </div>

            <div class="form-group">
                <label for="companyUid">Unique Company ID (Cannot be changed later)</label>
                <input type="text" id="companyUid" name="companyUid" pattern="\S+" title="No spaces allowed" required>
            </div>

            <button type="submit" class="submit-btn">Submit request</button>
        </form>
    </div>
    <script src="/static/js/request.js"></script>
</div>
{% endblock content %}