.content {
    margin-top: 100px;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -20px;
    gap: 20px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-top: -25px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.tab-btn {
    padding: 10px 20px;
    background: var(--color-background-deep);
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.tab-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background: #2c2b2b;
}

.tab-btn:nth-of-type(1).active { background: var(--color-success); }
.tab-btn:nth-of-type(2).active { background: var(--color-failed); }
.tab-btn:nth-of-type(3).active { background: var(--color-accent-strong); }
.tab-btn:nth-of-type(4).active { background: var(--color-warning); }
.tab-btn:nth-of-type(5).active { background: var(--color-warning); }


.tab-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tab-content.active {
    display: block;
    opacity: 1;
}

.line-status {
    display: block;
    border-radius: 20px;
    background: rgba(168, 155, 155, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 15px 15px 15px 15px;
    margin: 20px;
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    border: 1.5px solid rgba(14, 14, 14, 0.18);
}

.lines {
    display: flex;
    flex-wrap: wrap;
}

.line {
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform: translateY(0);
}

.line:hover {
    box-shadow: 0 16px 24px 0 rgba(44, 44, 44, 0.6), 0 25px 65px 0 rgba(0, 0, 0, 0.30);
    transform: translateY(-2px);
}

.line-modal {
    display: inline-block;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform: translateY(0);
}

.line-modal:hover {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.35), 0 25px 65px 0 rgba(0, 0, 0, 0.30);
    transform: translateY(-5px);
}




.possible-delays-no-scheduled-service-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .possible-delays-no-scheduled-service-container {
        flex-direction: column;
    }
}