{% extends "base/base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock stylesheet %}

{% block content %}
<div class="content">
  <div class="header">
    <h1>🚆 Line Status - <span id="current-tab">🌍 Public</span></h1>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
      const tabButtons = document.querySelectorAll('.tab-btn');
      const currentTabElement = document.getElementById('current-tab');

      tabButtons.forEach(button => {
        button.addEventListener('click', () => {
        currentTabElement.textContent = button.textContent.trim();
        });
      });
      });
    </script>
  </div>
  <div class="tabs" style="display: flex; gap: 10px;">
    <button class="tab-btn active" data-tab="public"><b>🌍 Public</b></button>
    <button class="tab-btn" data-tab="private"><b>🔒 Private</b></button>
    <button class="tab-btn" data-tab="metro"><b>🚇 Metro</b></button>
    <button class="tab-btn" data-tab="tram"><b>🚋 Tram</b></button>
    <button class="tab-btn" data-tab="bus"><b>🚌 Bus</b></button>
  </div>
  {% if maintenance_mode %}
  <div class="line-status" style="background-color: rgb(255, 115, 0);">
    <h1>🚧 Maintenance </h1>
    <p>We are currently performing maintenance on the system. Please check back later.</p>

    <p>{{ maintenance_message | safe }}</p>
  </div>
  {% endif %}

  {% for type, status in line_types.items() %}
  <div class="tab-content {% if type == 'public' %}active{% endif %}" id="{{ type }}">
    <div class="possible-delays-no-scheduled-service-container">
      <div id="suspended" class="line-status" style="flex: 1;">
        <div style="display: flex; align-items: center; gap: 10px;">
          <h1>🚫 Suspended</h1>
          <p>Service is currently suspended</p>
        </div>

        {% if not status.suspended %}
        <p>No suspended lines</p>
        {% else %}
        <div class="lines">
          {% for line in status.suspended %}
          <div class="line-item line" data-line="{{ line.name }}" id="line-{{ line.name }}">
            {{ line.name }}
          </div>
          <script>
              setContrastColor('line-{{ line.name }}', '{{ line.color }}');
          </script>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div id="partially-suspended" class="line-status" style="flex: 1;">
        <div style="display: flex; align-items: center; gap: 10px;">
          <h1>〽️ Partially Suspended</h1>
          <p>Service may be affected (e.g. unserviced stations)</p>
        </div>
        
        {% if not status.partially_suspended %}
        <p>No partially suspended lines</p>
        {% else %}
        <div class="lines">
          {% for line in status.partially_suspended %}
          <div class="line-item line" data-line="{{ line.name }}" id="line-{{ line.name }}">
            {{ line.name }}
          </div>
          <script>
              setContrastColor('line-{{ line.name }}', '{{ line.color }}');
          </script>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    
    <div class="possible-delays-no-scheduled-service-container">
      <div id="possibledelays" class="line-status" style="flex: 1;">
        <div style="display: flex; align-items: center; gap: 10px;">
          <h1>⚠️ Possible delays</h1>
          <p>Services may be delayed</p>
        </div>

        {% if not status.possible_delays %}
        <p>No delays reported</p>
        {% endif %}
        <div class="lines">
          {% for line in status.possible_delays %}
          <div class="line-item line" data-line="{{ line.name }}" id="line-{{ line.name }}">
            {{ line.name }}
          </div>
          <script>
              setContrastColor('line-{{ line.name }}', '{{ line.color }}');
          </script>
          {% endfor %}
        </div>
      </div>

      <div id="noscheduledservice" class="line-status" style="flex: 1;">
        <div style="display: flex; align-items: center; gap: 10px;">
          <h1>🌙 No scheduled service</h1>
          <p>Lines with no scheduled service</p>
        </div>

        {% if not status.no_scheduled %}
        <p>All lines have scheduled service</p>
        {% endif %}
        <div class="lines">
          {% for line in status.no_scheduled %}
          <div class="line-item line" data-line="{{ line.name }}" id="line-{{ line.name }}">
            {{ line.name }}
          </div>
          <script>
              setContrastColor('line-{{ line.name }}', '{{ line.color }}');
          </script>
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="running" class="line-status">
      <div style="display: flex; align-items: center; gap: 10px;">
        <h1>{% if status.running %}🚄 Running service{% else %}❌ No active service{% endif %}</h1>
        <p>{% if status.running %}Lines with active service{% else %}No service is currently running{% endif %}</p>
      </div>
      
      <div class="lines">
        {% if not status.running %}
        <p>No active service available</p>
        {% endif %}
        {% for line in status.running %}
        <div class="line-item line" data-line="{{ line.name }}" id="line-{{ line.name }}">
            {{ line.name }}
        </div>
        <script>
            setContrastColor('line-{{ line.name }}', '{{ line.color }}');
        </script>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

  <div id="modal" class="modal">
    <div class="modal-content" style="margin-top: 40px">
      <span id="close">&times;</span>
      <div id="modal-inner"></div>
    </div>
  </div>
</div>

<script src="/static/js/lines.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    fetchLines();
  });
</script>
{% endblock content %}